.textcolor{
	color:rgb(42, 116, 228);
	font-size:60px;
	font-family:sans-serif;
	font-weight: 750;
	text-align: center;
	
}

.buttoncolor{
	color:white;
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	background-color:rgb(42, 116, 228);
	width:100%;
	padding:14px;
	font-size:16px;
	font-weight:bold;
}

.buttoncolor:hover{
	color:white;
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	background-color:rgb(42, 116, 228);
	width:100%;
	padding:14px;
	font-size:16px;
	cursor:pointer;
}

.textborder{
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	color:black;
	border-radius:8px;
	background-color:white;
	width:92%;
	padding:14px;
	font-size:16px;
}

.container1 {
	margin:0 6.5%;
	max-width: 60vh;
}

.container2{
	border-style:solid;
	border-width:0px;
	border-radius:8px;
	background-color:white;
	padding:15px;
	font-size:16px;
	margin: 10px;
	box-shadow: 1px 1px 10px 1px ;
	max-width: 60vh;
	text-align: center;
}

.newcolor{
	color:white;
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	background-color:green;
	width:50%;
	padding:14px;
	font-size:16px;
	font-weight:bold;

}

.newcolor:hover{
	color:white;
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	background-color:springgreen;
	width:50%;
	padding:14px;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
}

body{
	font-family:sans-serif;
	background-color:rgb(220, 236, 241);
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	border-color: rgb(42, 116, 228);
}

p {
	font-size: 1.2rem;

}

@media screen and (min-width: 700px) {
	body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 60px;
	}
	.container2 {
		border-style:solid;
		border-width:0px;
		border-radius:8px;
		background-color:white;
		font-size:16px;
		width: 100%;
		box-shadow: 1px 1px 10px 1px ;
		margin-top: 50px;

	}


}



