.textcolor{
	color:blue;
	font-size:50px;
	font-family:sans-serif;
	
}

.buttoncolor{
	color:white;
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	background-color:blue;
	width:100%;
	padding:14px;
	font-size:16px;
	font-weight:bold;
}

.buttoncolor:hover{
	color:white;
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	background-color:dodgerblue;
	width:100%;
	padding:14px;
	font-size:16px;
	cursor:pointer;
}

.textborder{
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	color:black;
	border-radius:8px;
	background-color:white;
	width:92%;
	padding:14px;
	font-size:16px;
}

.container{
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	color:white;
	background-color:white;
	padding:15px;
	font-size:16px;
	margin:20px;
	outline-style:solid;
	outline-width:2px;
	outline-color:black;
	float:right;
	margin:0 6.5%;
	width:30%;
}

.newcolor{
	color:white;
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	background-color:green;
	width:50%;
	padding:14px;
	font-size:16px;
	font-weight:bold;

}

.newcolor:hover{
	color:white;
	border-style:solid;
	border-width:1px;
	border-radius:8px;
	background-color:springgreen;
	width:50%;
	padding:14px;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
}

body{
	font-family:sans-serif;
	text-align:center;
	background-color:powderblue;
}

div{
	float:left;
	margin:0 6.5%;
	width:40%;
}


